<div class="main-wrapper" *ngIf="!showViewDetail">
    <app-breadcrumb [data]="breadCrumbData" [showButtons]="true"
     [showUploadButton]="isPending || isRejected" (downloadExcel)="onExportToExcel()" (uploadExcel)="onUploadToExcel($event)"></app-breadcrumb>
    <div class="container">
        <div class="white-bg">
            <app-landing-page-detail [pendingCount]="landingPageDetail.pendingCount" 
            [pendingPath]="'/Actual/SDR/Pending'" [approvedCount]="landingPageDetail.approvalCount"
             [approvedPath]="'/Actual/SDR/Approved'" [activeCard]="status" 
             [rejectedPath]="'/Actual/SDR/Rejected'"
                [rejectedCount]="landingPageDetail.rejectionCount">
            </app-landing-page-detail>
            <div class="dasboard-table">
                <form [formGroup]="formGroup">
                    <div class="table-responsive">
                        <table class="table table-fixed">
                            <thead>
                                <tr class="" [ngClass]="{'approval-bg':isApproved ,'reject-bg':isRejected}">
                                    <th>
                                        <select formControlName='month'>
                                            <option value="">Month</option>
                                            <option *ngFor="let item of monthDropdown" [value]="item">{{ item }}
                                            </option>
                                        </select>
                                    </th>
                                    <th>
                                        <select formControlName='brand'>
                                            <option value="">Brand</option>
                                            <option *ngFor="let item of brandDropdown" [value]="item">{{ item }}
                                            </option>
                                        </select>

                                    </th>
                                    <th>Rate</th>
                                    <th>Last 5 Month Sales</th>
                                    <th>Provision</th>
                                    <th>Actuals</th>
                                    <th>Opening Provision</th>
                                    <th style="text-align: center;">
                                        <div style="display: flex;justify-content: center;">
                                            Action
                                            <div class="custom-control custom-checkbox custom-table-checkbox" style="margin-left: 10px;margin-top: -2px;" *ngIf="isPending" (click)="onApproveAll()">
                                                <label class="custom-control-label label-check-all" [ngClass]="{'checked':isAllSelected()}"></label>
                                            </div>
                                        </div>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="font-strong" *ngIf="filteredData && filteredData.length">
                                    <td colspan="3">Total</td>
                                    <td>{{ getTotalLast5Mo() | number}}</td>
                                    <td>{{ getTotalProvision() | number}}</td>
                                    <td >{{ getTotalActuals() | number}}</td>
                                    <td >{{ getTotalClosingProv() | number }}</td>
                                </tr>
                                <tr class="approval-bg" *ngFor="let item of filteredData" [ngClass]="getRowClasses(item)">
                                    <td>{{ item.Month_Name }}</td>
                                    <td> {{ item.Brand }}</td>
                                    <td>{{ item.Rate }}%</td>
                                    <td>{{ item.Last_5Month_Sales | number}}</td>
                                    <td>{{ item.Provision | number}}</td>
                                    <td>{{item.Actual | number}}</td>
                                    <td>{{ item.Closing_Prov | number}}</td>
                                    <td class="action-btn">
                                        <div style="display: flex;justify-content: center;">
                                            <img src="../assets/images/eye-icon.png" alt="" (click)="onViewDetail(item)">
                                            <div class="custom-control custom-checkbox" (click)="onApprove(item)">
                                                <label class="custom-control-label label-check" [ngClass]="{ 'checked': item.RemarkType==='Approve'  }"></label>
                                            </div>
                                            <div class="custom-control custom-checkbox custom-crossbtn" *ngIf="isPending || isRejected" (click)="onReject(item)">
                                                <label class="custom-control-label label-cross" [ngClass]="{'checked': item.RemarkType==='Reject' }"></label>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class=" submit-btn "><button type="submit " class="common-btn " *ngIf="isPending || isRejected" (click)="onSubmit() ">Submit</button>
            </div>
        </div>
    </div>
</div>

<app-actual-sdr-view-detail *ngIf="showViewDetail"  [status]="status" (close)="closeViewDetail()" 
[breadCrumbData]="breadCrumbData"
[data]="currentViewDetailItem"></app-actual-sdr-view-detail>