<div class="common-modal">
    <div class="modal-header">
        <div class="modal-title w-100 small-title">{{ title }}</div>
        <button aria-label="Close" class="close" (click)="onCancel()" type="button">
            <span aria-hidden="true">
                <i class="las la-times"></i>
            </span>
        </button>
    </div>
    <div class="modal-body mb-0">
        <div class="user-form">
            <form [formGroup]="formGroup" autocomplete="off" (ngSubmit)="onSubmit()">

                <div class="row">

                    <div class="col-md-4 form-group">
                        <label for="Channel">Channel</label>
                        <input type="text" id="Channel" formControlName="Channel" class="form-control">
                        <div *ngIf="shouldShowError('Channel','required')" class="text-danger">This field is required
                        </div>
                    </div>

                    <div class="col-md-4 form-group">
                        <label for="Type">Type</label>
                        <input type="text" class="form-control" id="Type" formControlName="Type">
                        <div *ngIf="shouldShowError('Type','required')" class="text-danger">This field is required
                        </div>
                    </div>

                    <div class="col-md-4 form-group">
                        <label for="Sales_Group">Sales Group</label>
                        <input type="text" id="Sales_Group" class="form-control" formControlName="Sales_Group">
                        <div *ngIf="shouldShowError('Sales_Group','required')" class="text-danger">This field is required
                        </div>
                    </div>

                    <div class="col-md-4 form-group">
                        <label for="Channel_Group">Channel Group</label>
                        <input type="text" id="Channel_Group" formControlName="Channel_Group" class="form-control">
                        <div *ngIf="shouldShowError('Channel_Group','required')" class="text-danger">This field is required
                        </div>
                    </div>

                </div>

                <div class="form-group mt-4 text-center cap-submit">
                    <button type="submit" class="common-btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>