<div class="main-wrapper">
    <div class="outer-static-page">
        <div class="container">
            <div class="white-bg">
                <div class="landing-page">
                    <div class="title-col">
                        <h3>Welcome to GSK - TSM</h3>
                    </div>
                    <div class="landing-cols">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="landing-col1">
                                    <div class="landing-col-head">Masters <i class="las la-angle-right"></i></div>
                                    <ul>
                                        <li><a [routerLink]="['/Master/Brand']">Brand Master</a></li>
                                        <li><a [routerLink]="['/Master/BrandRatio']">Brand Ratio Master</a></li>
                                        <li><a [routerLink]="['/Master/BusinessArea']">Business Area Master</a></li>
                                        <li><a [routerLink]="['/Master/CanvasCategory']">Canvas Category</a></li>
                                        <li><a [routerLink]="['/Master/Canvas']">Canvas Master</a></li>
                                        <li><a [routerLink]="['/Master/CDTCity']">CDT City Master</a></li>
                                        <li><a [routerLink]="['/Master/CDTRate']">CDT Rate Master</a></li>
                                        <li><a [routerLink]="['/Master/Channel']">Channel Master</a></li>
                                        <li><a [routerLink]="['/Master/ChartAccount']">Chart of Account Master</a></li>
                                        <li><a [routerLink]="['/Master/ClaimCode']">Claim Code Master</a></li>
                                        <li><a [routerLink]="['/Master/Company']">Company Master</a></li>
                                        <li><a [routerLink]="['/Master/Customer']">Customer Master</a></li>
                                        <li><a [routerLink]="['/Master/GLCode']">GL Code Master</a></li>
                                        <li><a [routerLink]="['/Master/GoA']">GoA Master</a></li>
                                        <li><a [routerLink]="['/Master/Item']">Item Master</a></li>
                                        <li><a [routerLink]="['/Master/LineItem']">Line Item Master</a></li>
                                        <li><a [routerLink]="['/Master/NextDocNumber']">Next Doc Number Master</a></li>
                                        <li><a [routerLink]="['/Master/Plant']">Plant Master</a></li>
                                        <li><a [routerLink]="['/Master/ReportChannel']">Report Channel Master</a></li>
                                        <li><a [routerLink]="['/Master/Scheme']">Scheme Master</a></li>
                                        <li><a [routerLink]="['/Master/SDR']">SDR Master</a></li>
                                        <li><a [routerLink]="['/Master/TOTCustomer']">TOT Customer Master</a></li>
                                        <li><a [routerLink]="['/Master/TOT']">TOT Master</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="landing-col1 landing-col2">
                                    <div class="landing-col-head">SAP Reports <i class="las la-angle-right"></i></div>
                                    <ul>
                                        <li><a [routerLink]="['/LandingPage']">Provision Report</a></li>
                                        <li><a [routerLink]="['/LandingPage']">Actualization Report</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="landing-col1 landing-col3">
                                    <div class="landing-col-head">Dashboard & Reports <i class="las la-angle-right"></i>
                                    </div>
                                    <ul>
                                        <li><a [routerLink]="['/LandingPage']">Dashboard</a></li>
                                        <li><a [routerLink]="['/LandingPage']">Reports</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="landing-col1 landing-col4">
                                    <div class="landing-col-head">Month End Activities <i class="las la-angle-right"></i></div>
                                    <ul>
                                        <li><a [routerLink]="['/ApprovalWorkflow']">Approval Workflow</a></li>
                                        <li><a [routerLink]="['/LandingPage']">Actual Approval Trigger</a></li>
                                        <li><a [routerLink]="['/LandingPage']">Month End Checklist</a></li>
                                        <li><a [routerLink]="['/LandingPage']">Year End Checklist</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="landing-col1 landing-col5">
                                    <div class="landing-col-head">Audit Logs <i class="las la-angle-right"></i></div>
                                    <ul>
                                        <li><a [routerLink]="['/LandingPage']">System Logs</a></li>
                                        <li><a [routerLink]="['/LandingPage']">Approval Logs</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>