<div class="common-modal">
    <div class="modal-header">
        <div class="modal-title w-100 small-title">{{ title }}</div>
        <button aria-label="Close" class="close" (click)="onCancel()" type="button">
            <span aria-hidden="true">
                <i class="las la-times"></i>
            </span>
        </button>
    </div>
    <div class="modal-body mb-0">
        <div class="user-form">
            <form [formGroup]="claimCodeMasterForm" (ngSubmit)="onSubmit()">

                <div class="row">

                    <div class="col-md-4 form-group">
                        <label for="Channel">Channel</label>
                        <input type="text" id="Channel" formControlName="Channel" class="form-control" placeholder="">
                        <div *ngIf="shouldShowError('Channel','required')" class="text-danger">This field is required
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="Entity">Entity</label>
                        <input type="text" id="Entity" formControlName="Entity" class="form-control" placeholder="">
                        <div *ngIf="shouldShowError('Entity','required')" class="text-danger">This field is required
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="Type">Type</label>
                        <input type="text" id="Type" formControlName="Type" class="form-control" placeholder="">
                        <div *ngIf="shouldShowError('Type','required')" class="text-danger">This field is required
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="Sub_Type">Sub Type</label>
                        <input type="text" id="Sub_Type" formControlName="Sub_Type" class="form-control" placeholder="">
                        <div *ngIf="shouldShowError('Sub_Type','required')" class="text-danger">This field is required
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="Code">Code</label>
                        <input type="text" id="Code" formControlName="Code" class="form-control" placeholder="">
                        <div *ngIf="shouldShowError('Code','required')" class="text-danger">This field is required
                        </div>
                    </div>
                </div>

                <div class="form-group mt-4 text-center cap-submit">
                    <button type="submit" class="common-btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>