<div class="breadcrum-btns">
	<div class="container">
	  <div class="inner-breadcrum-btns">	
		
	  <ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#"><i class="las la-home"></i></a></li>
		<li class="breadcrumb-item"><a href="#">Month End Activities</a></li>
		<li class="breadcrumb-item active" aria-current="page">Provision Approval Trigger
</li>  
	  </ol>
		
	 </div>	
  </div>	
</div>	
	
  <div class="container">
	 <div class="white-bg">
	  
	  <div class="inner-content">	
		  	<div class="form-progress">
			  <ul>
				<li class="active line_actv"><span>1</span></li>
				<li class="active"><span>2</span></li>
				<li><span>3</span></li>
				<li><span>4</span></li>
			  </ul>	
			</div>	
			
			<div class="user-form">				
				<form>
					<div class="form-group">
						<h3 class="title_step">Month End Trigger</h3>
						<h5 class="step_stle">Manual Provision Upload</h5>
					</div>
					<div class="form-row form-group">
						<label class="col-md-2 stp_lable">General Trade</label>
						<div class="col-md-4">
							<div class="custom-file">
							  <input type="file" class="custom-file-input" id="customFile" name="filename">
							  <label class="custom-file-label" for="customFile">Choose file</label>
							</div>
							<div class="sm_close">gt-channel.exl <i class="las la-times"></i></div>
						</div>
						<div class="col-md-2">
							<button type="upload" class="common-btn sm">Upload</button>
						</div>
					 </div>
					 
					 <div class="form-row form-group">
						<label class="col-md-2 stp_lable">MT TOT & Ecom TOT</label>
						<div class="col-md-4">
							<div class="custom-file">
							  <input type="file" class="custom-file-input" id="customFile" name="filename">
							  <label class="custom-file-label" for="customFile">Choose file</label>
							</div>
						</div>
						<div class="col-md-2">
							<button type="upload" class="common-btn sm">Upload</button>
						</div>
					 </div>
					 
					 <div class="form-row form-group">
						<label class="col-md-2 stp_lable">Canvas</label>
						<div class="col-md-4">
							<div class="custom-file">
							  <input type="file" class="custom-file-input" id="customFile" name="filename">
							  <label class="custom-file-label" for="customFile">Choose file</label>
							</div>
						</div>
						<div class="col-md-2">
							<button type="upload" class="common-btn sm">Upload</button>
						</div>
					 </div>
					 
					 <div class="form-row form-group">
						<label class="col-md-2 stp_lable">SDR</label>
						<div class="col-md-4">
							<div class="custom-file">
							  <input type="file" class="custom-file-input" id="customFile" name="filename">
							  <label class="custom-file-label" for="customFile">Choose file</label>
							</div>
						</div>
						<div class="col-md-2">
							<button type="upload" class="common-btn sm">Upload</button>
						</div>
					 </div>
					 
					 <div class="form-row form-group">
						<label class="col-md-2 stp_lable">CDT</label>
						<div class="col-md-4">
							<div class="custom-file">
							  <input type="file" class="custom-file-input" id="customFile" name="filename">
							  <label class="custom-file-label" for="customFile">Choose file</label>
							</div>
						</div>
						<div class="col-md-2">
							<button type="upload" class="common-btn sm">Upload</button>
						</div>
					 </div>
					 
					 <div class="form-group">
						<h5 class="step_stle">Manual Actualization Upload </h5>
					</div>
					 
					 <div class="form-row form-group">
						<div class="col-md-4">
							<div class="custom-file">
							  <input type="file" class="custom-file-input" id="customFile" name="filename">
							  <label class="custom-file-label" for="customFile">Choose file</label>
							</div>
						</div>
						<div class="col-md-2">
							<button type="upload" class="common-btn sm">Upload</button>
						</div>
					 </div>
					 
					
					 
					 <div class="form-row">
						<div class="col-md-12"> 
							<div class="submit-btn">
								<button type="submit" class="common-btn prev"><i class="las la-angle-left pr-3"></i> Prev</button>
								<button type="submit" class="common-btn next">Next <i class="las la-angle-right pl-3"></i></button>
							</div>
						</div>
												
					 </div>				 
					 
					 
				</form>	
		
	    </div>	 
		 
	 </div>
  </div>
	
	
</div>