<div class="main-wrapper">

    <div class="breadcrum-btns">
        <div class="container">
            <div class="inner-breadcrum-btns">

                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="las la-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#">Master</a></li>
                    <li class="breadcrumb-item active" aria-current="page">TOT Master</li>
                </ol>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="white-bg">

            <div class="dasboard-table">

                <div class="table-responsive">

                    <table class="table table-fixed">
                        <thead class="gray">
                            <tr>
                                <th>Category</th>
                                <th>Customer Name</th>
                                <th>Brand Name</th>
                                <th>Rate</th>
                                <th>Effec. Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let item of data">
                                <td>{{ item.Category }}</td>
                                <td>{{ item.Account }}</td>
                                <td>{{ item.Brand }}</td>
                                <td>{{ item.Rate }}</td>
                                <td>{{ item.Effective_Date| date: 'dd-MM-yyyy' }}</td>
                                <td>
                                    <img class="ml-2" (click)="onDelete(item)" src="./assets/images/delete.png" alt="">
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="submit-btn">
                <button type="button" (click)="onAdd()" class="common-btn gray"><i class="las la-plus" ></i>Add</button>
                <button type="button" class="common-btn"><i class="las la-download"></i> Download</button>
            </div>

        </div>
    </div>


</div>